---
layout: home
title: "The Growth Blog - David Kim"
---
{% include setup %}

<div class="row">
  <h1>The Growth Blog</h1>
  <p>I write about web products, entrepreneurship, and growth - personal and business.</p>

  <hr />

  <h3><a href="{{BASE_PATH}}/pages/blog.html">{{ site.posts[0].title }}</a></h3>

  <div class="blog">
    {{ site.posts[0].content }}

  <h4>Subscribe via email:</h4>
    <p><em><small>Emails are sent no more than once a week.</small></em></p>
    {% include mailchimp_linear %}
  </div>

  <h3>Previous post</h3>
  <ul>
    {% for post in site.posts limit: 1 %}
      <li style="font-size: 15px">{{ site.posts[1].date | date: "<span style='color: gray; font-family: Courier;'>%d %b %Y: </span>"}} <a href="{{ site.posts[1].url }}">{{site.posts[1].title}}</a></li>
    {% endfor %}
  </ul>

</div>
