---
layout: home
title: "A Journey Toward Better - David Kim"
---
{% include setup %}

<div class="row">
  <h1>The Growth Blog</h1>
  <p>I write about self-exploration, entrepreneurship, and growth at least <strong>once a week.</strong> It's for entreprenurs, crackre jacks, people who like cats, and for people looking to grow.</p>

  <hr />

  <h3>Stuff ... really</h3>

  <div class="blog">
    <p>Well, there's not much here as I'll be building out useful content for you during the year of 2014. For now, enjoy reading <a href="{{ site.posts[0].url }}">{{site.posts[0].title}}</a> and other <a href="{{BASE_PATH}}/pages/blog.html">blog posts</a>.
    </p>

    <p>Oh, I'm going to work on a series of posts on <strong>meetup 101</strong>: what they are, and how you can use them. If you're interested in getting those, be sure to subscribe to the blog via <a target="_" href="http://feeds.feedburner.com/DavidKimBlog">RSS</a> or get a copy by email when they are complete.
    </p>

    {% include mailchimp_meetup %}
  </div>

  <h3>Previous post</h3>
  <ul>
    {% for post in site.posts limit: 1 %}
      <li style="font-size: 15px">{{ site.posts[1].date | date: "<span style='color: gray; font-family: Courier;'>%d %b %Y: </span>"}} <a href="{{ site.posts[1].url }}">{{site.posts[1].title}}</a></li>
    {% endfor %}
  </ul>

</div>
