<div class="container navigation">
  <div class="sixteen columns" id="navbar">
    <div class="four columns alpha">
      <ul>
        <li><a href="{{BASE_PATH}}/">Home</a></li>
      </ul>
    </div>
    <div class="twelve columns omega">
      <ul class="float-right">
        <li><a href="{{BASE_PATH}}/david">About</a></li>
        <!-- <li><a href="{{BASE_PATH}}/pages/consult.html">Hire</a></li> -->
  <!--       <li><a href="#">More</a></li>
        <ul id="sub-menu" class="float-right">
          <li><a href="#">random</a></li>
          <li><a href="#">javascript</a></li>
        </ul> -->
      </ul>
    </div>
  </div>
</div>
