<h4>David Kim</h4>

<a href="{{BASE_PATH}}/index.html">
  <img id="profile" alt="david profile picture" width="200px;" src="{{BASE_PATH}}/assets/images/profile2.jpg" onmouseenter="flip()" onmouseleave="flip_back()">
</a>

<p><small>Beautiful <a target="_" href="http://www.nps.gov/crla/">Crater Lake National Park</a></small></p>

<p>I believe that today is better than yesterday, that you can take small steps to be happier and better, and that learning is the key.</p>

<blockquote class="pattern-diagonal">
  <a href="http://en.wikipedia.org/wiki/Jack_Horkheimer" target="_">Keep looking up!</a>
</blockquote>
