<a href="{{BASE_PATH}}/about/index.html">
  <img class="remove-bottom" id="profile" alt="david profile picture" width="200px;" src="{{BASE_PATH}}/assets/images/profile2.jpg" onmouseenter="flip()" onmouseleave="flip_back()">
</a>

<p>
  <small>David at <a target="_" href="http://www.nps.gov/crla/">Crater Lake National Park</a></small>
</p>

<div id="profile">
  A former cube dweller, writing about web products, entrepreneurship, and growth.
</div>
<div id="profile">
  <span class="quora-follow-button" data-name="David-Kim-16">Follow <a href="http://www.quora.com/David-Kim-16">David</a><script type="text/javascript" src="http://www.quora.com/widgets/follow?embed_code=oe3XiTY"></script>
  </span>

  <a href="https://twitter.com/findinbay" class="twitter-follow-button" data-show-count="false">Follow @findinbay</a>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
