<h2 class="remove-bottom social">
  <a class="ss-icon ss-social-circle icon" target="_" href="http://github.com/dklounge">githuboctocat</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="http://www.linkedin.com/in/smilingdave/">linkedin</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="http://twitter.com/findinbay">twitter</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="https://www.facebook.com/dklounge1">facebook</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="http://dklounge.github.io/feed.xml">rss</a>
  <a class="ss-icon ss-social-circle icon" href="mailto:daviddarden11@gmail.com">email</a>
</h2>
