---
layout: default
title: 'David Kim: Coding MBA'
description: "David's personal page. Hacker, MBA."
---

{% include setup %}

{% include navbar.html %}

<div class="sixteen columns">
  <div class="ten columns alpha">
    <h2 class="remove-bottom">Hi, I'm David Kim</h2>
  </div>
  <div class="six columns omega">
    <div class="float-right">{% include ss-icons.html %}</div>
  </div>
</div>

<hr />

<div class="one-third column profile">
  <h4 class="tagline">I code and help people grow</h4>
  {% include profile.html %}
  <br />
  {% include news.html %}
</div>

<div class="one-third column profile">
  <h3>Currently Working On</h3>
  <p>Lately, coding and building.</p>
  <ul class="square">
    <li><strong><a target="_" href="http://productmanagementfasttrack.com/">Product Management Fast Track</a></strong>: community by connecting and educating.</li>
    <li><strong><a target="_" href="http://www.choosingcodingbootcamps.com/">Choosing Coding Bootcamps</a></strong>: helping people make better decisions by writing.</li>
    <li><strong><a target="_" href="https://github.com/Bettermeans/bettermeans/">Better</a></strong>: helping open-source project by writing specs.</li>
   <!--  <li><strong><a target="_" href="http://www.agilecredit.com/">AgileCredit</a></strong>: helping a pre-seed fin-tech team by coding.</li> -->
  </ul>

  <blockquote class="pattern-diagonal">
    <p>David Kim is not only someone who can implement a good idea, he is the person who comes up with that good idea in the first place.</p>
    <cite><a target="_" href="http://www.linkedin.com/in/darylneely">Daryl Neely</a>, Product Manager</cite>
  </blockquote>

  <!-- <a href="{{BASE_PATH}}/pages/consult.html" class="button">Checkout David's Portfolio</a> -->
</div>

<div class="one-third column profile">
  <h3 style="display: inline;" id="how">How</h3>&nbsp;
  <h3 style="display: inline;">Can I Help You?</h3>
  <p></p>
  <ul class="square">
    <li><strong>Explore new revenues</strong>: by discovering and developing new channels.</li>
    <li><strong>Connect with customers</strong>: by building a community.</li>
    <li><strong>Save time</strong>: by analyzing your workflows with a fresh perspective.</li>
  </ul>

  <blockquote class="pattern-diagonal">
    <p>David is an exceptional community leader and very strong connector amongst developers ...</p>
    <cite><a target="_" href="http://www.linkedin.com/in/chrissita">Chris Sita</a>, Software Engineer</cite>
  </blockquote>

  <p>I am a <a target="_" href="http://www.darden.virginia.edu/web/Home/">Darden MBA</a>, and was a NC <strong>CPA</strong>. I like <a target="_" href="http://rubyrookies.com/">Ruby</a>, Python, ice cream and <a target="_" href="http://icanhas.cheezburger.com/lolcats">cats</a>.</p>

  <a href="mailto: daviddarden11@gmail.com?subject=connecting via website" class="button">Contact David!</a>
</div>

