---

---

{% include skeleton/stylesheets/base.css %}
{% include skeleton/stylesheets/layout.css %}
{% include skeleton/stylesheets/skeleton.css %}

/* include own style below */

body {
  font-size: 16px;
  /*font: 15px "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;*/
  /*font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

ol, ul {
  list-style-position: inside;
  list-style-type: disc;
}

a {
  color: #258;
}

a:visited {
  color: #435;
}

a:hover {
  color: #c22;
}

blockquote {
  padding-bottom: 10px;
}

blockquote p {
  font-size: 14px;
  line-height: 1.5;
}

blockquote cite a:hover {
  color: #c22;
  font-weight: bold;
}

.blog p {
  line-height: 1.8;
}

.container {
  margin-top: 20px;
}

.profile {
  font-size: 15px;
}

#profile {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

#nav {
  margin: 40px 0 0 0;
  font-size: 16px;
}

#nav ul li {
  font-size: 1.2em;
  display: inline;
  margin: 0 30px 0 0;
  margin-bottom: 130px;
}

#nav a, #navbar a {
  color: #777;
  text-decoration: none;
}

#nav a:hover, #navbar a:hover {
  color: #c22;
  text-decoration: none;
}

#navbar {
  margin: 5px 0 0 10px;
  height: 50px;
  font-size: 16px;
}

#navbar ul li {
  font-size: 1.2em;
  display: inline;
  margin: 0 30px 0 0;
}

#sub-menu {
  display: none;
  visibility: hidden;
}

ul #sub-menu li {
  display: block;
}

/*.name:hover {
  -webkit-transform: rotate(-1deg);
     -moz-transform: rotate(-1deg);
       -o-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
}*/

.tagline {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 22px;
  margin-bottom: 5px;
  color: #777;
}

.page-title {
  height: 50px;
}

.float-right {
  float: right;
}

.pattern-diagonal {
  background: url("/assets/images/noise-white.jpg") repeat;
}

.date {
  margin-top: 12px;
  color: #555;
}

code {
  padding:2px 4px;
  color:#d14;
  background-color:#f7f7f9;
  border:1px solid #e1e1e8;
  white-space:nowrap;
}

pre {
  display:block;
  padding:9.5px;
  margin:0 0 10px;
  font-size:13px;
  line-height:20px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  background-color:#f5f5f5;
  border:1px solid #ccc;
  border:1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
  border-radius:4px;}

pre.prettyprint { margin-bottom:20px; }
pre code {
  padding:0;
  color:inherit;
  white-space:pre;
  white-space:pre-wrap;
  background-color:transparent;
  border:0;
}

.share_rss {
  display: inline;
  font-size: 20px;
}

.share_rss a {
  color: #f60;
}

#mc_embed_signup {
  background: #eee;
  clear:left;
  font: 14px Helvetica, Arial, sans-serif;
  width:290px;
}

.call_to_action {
  background: #dee;
  font-size: 16px;
  border-radius: 10px;
  -moz-box-shadow:    2px 3px 4px 1px #ddd;
  -webkit-box-shadow: 2px 3px 4px 1px #ddd;
  box-shadow:         2px 3px 4px 1px #ddd;
}

.call_to_action p {
  margin-top: 20px;
  margin-left: 20px;
}

.call_to_action a {
  color: #f70;
}

/* Form styles */

#mc_embed_meetup input {
  display: inline;
}

#mc_embed_signup {
  padding-top: 12px;
  padding-left: 15px;
}

#mc_embed_signup label { margin-bottom: 5px; }

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
