---
layout: default
---
{% include setup %}

{% include navbar.html %}

<div class="sixteen columns">

  <div class="eleven columns alpha">
    <div class="page-title">
      {% if page.title %}
      <h3>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h3>
      {% endif %}
    </div>

    <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>

    <br />

    {% include share_tweet.js %}

    {% include share_rss.html %}

    <br /><br />
    {{ content }}

    <a href="{{BASE_PATH}}/index.html">Return to All Blogs</a>
    <br /><br />
    {% include share_follow.html %}
    {% include comments %}
  </div>

  <div class="five columns omega">

    <h4>Get it free in your inbox</h4>

    <p>Delivered absolutely free.</p>
      {% include mailchimp %}
      {% include topposts.html %}
  </div>

</div>
