---
layout: default
---
{% include setup %}

{% include navbar.html %}

<div class="sixteen columns">

  <div class="eleven columns alpha">
    <div class="page-title">
      {% if page.title %}
      <h3>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h3>
      {% endif %}
    </div>

    <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>

    <br />

    {% include share_tweet.js %}&nbsp;
    {% include share_gplus.js %}
    {% include share_rss.html %}

    <br /><br />
    <div class="blog">
      {{ content }}

    <h3>Suggestions?</h3>
      <p>Want to see something written about? If you have a <a target="_" href="http://goo.gl/SqVyF2">blog topic suggestion</a>, please let me know!</p>
    </div>

    <a href="{{BASE_PATH}}/pages/blog.html">To All Blogs</a> | <a href="{{BASE_PATH}}/index.html">Return Home</a>
    <br /><br />
    {% include share_follow.html %}
    {% include comments %}
  </div>

  <div class="five columns omega">

    <h4>Get new posts via email:</h4>
      {% include mailchimp %}
      {% include recentposts.html %}

      <h4>About David</h4>
      {% include profile.html %}
  </div>

</div>
