---
layout: default
---
{% include setup %}

{% include navbar.html %}

<div class="row">
  <div class="sixteen columns">
    <div class="page-title">
      {% if page.title %}
      <h3>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h3>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="sixteen columns">
    <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>
    <br />
    {% include share_tweet.js %}

    {% include share_rss.html %}

    <br /><br />
    {{ content }}

    <a href="{{BASE_PATH}}/blog">Return to All Blogs</a>
    <br /><br />
    {% include share_follow.html %}
    {% include comments %}
  </div>
</div>
