---
layout: david
title: 'David Kim: coding MBA'
description: "David's portfolio and blog. MBA, hacker in training."
---

{% include setup %}

<div class="sixteen columns">
  <div class="eleven columns alpha">
    <h1 class="remove-bottom" style="margin-top: 30px">Hi, I'm David Kim</h1>
    <h4 class="tagline">I code and help people build businesses</h4>
  </div>

  <div id="nav" class="five columns omega">
    <ul class="float-right">
      <li><a href="{{BASE_PATH}}/">Blog</a></li>
      <li><a href="{{BASE_PATH}}/pages/consult.html">Contact</a></li>
    </ul>
  </div>
</div>

<hr />

<div class="one-third column profile">
{% include profile.html %}

{% include ss-icons.html %}
<br />
{% include news.html %}

</div>

<div class="one-third column">
  <h3>Currently Working On</h3>
  <p>Lately, coding and building.</p>
  <ul class="square">
    <li><strong><a target="_" href="http://www.agilecredit.com/">AgileCredit</a></strong>: helping a pre-seed fin-tech team by coding.</li>
    <li><strong><a target="_" href="http://productmanagementfasttrack.com/">Product Management Fast Track</a></strong>: helping PM community by connecting and educating.</li>
    <li><strong><a target="_" href="https://github.com/Bettermeans/bettermeans/">Better</a></strong>: helping open-source project by writing specs.</li>
    <li><strong><a target="_" href="http://www.choosingcodingbootcamps.com/">Choosing Coding Bootcamps</a></strong>: helping people make better decisions by writing.</li>
  </ul>

  <blockquote class="pattern-diagonal">
    <p>David Kim is not only someone who can implement a good idea, he is the person who comes up with that good idea in the first place.</p>
    <cite><a target="_" href="http://www.linkedin.com/in/darylneely">Daryl Neely</a>, Product Manager</cite>
  </blockquote>
</div>

<div class="one-third column">
  <h3 style="display: inline;" id="how">How</h3>&nbsp;
  <h3 style="display: inline;">Can I Help You?</h3>
  <p></p>
  <ul class="square">
    <li><strong>Explore new revenues</strong>: by discovering new channels.</li>
    <li><strong>Connect with customers</strong>: by building a community.</li>
    <li><strong>Save time</strong>: by analyzing your workflows with a fresh perspective.</li>
  </ul>

  <blockquote class="pattern-diagonal">
    <p>David is an exceptional community leader and very strong connector amongst developers ...</p>
    <cite><a target="_" href="http://www.linkedin.com/in/chrissita">Chris Sita</a>, Software Engineer</cite>
  </blockquote>

  <p>I have a <strong>MBA</strong> from <a target="_" href="http://www.darden.virginia.edu/web/Home/">Darden</a> and was a NC-licensed <strong>CPA</strong>. I like Ruby, Python and ice cream.</p>

  <a href="{{BASE_PATH}}/pages/consult.html" class="button">Contact David!</a>
</div>

